{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %}

{% block content %}
    <div class = "content-wrap">
        <div class="box">
            <button id="bar1" >
                <storng class="mainText">개인</storng>
                    <p class="img"><a href="{% url 'get_personal_timetable' %}"><img src="{% static 'img/icon user.png' %}"></a></p>
            </button>
    
            <button id="bar2">
                <strong class="mainText2">그룹</strong>
                <p class="img"><a href="{% url 'groupcreate' %}"><img src="{% static 'img/people group.png' %}"></a></p>
    
            </button>
        </div>
        <div class="box2">
            <button id="bar3">
                <a href="{% url 'accounts:user_grouplist' %}"><img src="{% static 'img/my group list.png' %}" class="bookimg"></a>
            </button>
        </div>
    </div>
    
{% endblock %}

{% block js %}
    <script src="{% static 'js/login.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
{% endblock %}  