#calander-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-left : 25%;
    height:50%;
}

#date-area{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
}
.btn-area{
    display: grid;
    width:10%;
    cursor: pointer;
}

.btn{
    font-size:2rem;
}
#btn-left{
    justify-self: end;
}
#month-year{
    width: 80%;;
}

table {
    border-collapse: collapse;
    width: 90%;
}
table, th, td {
    border: 0px;
    text-align: center;
    
}
tr{
    width:100%;
}
th, td {
    width:2rem;
    height:3rem;
}

td{
    cursor:pointer;
}
td>div:hover{
    font-weight: bold;
    color:#466FFF;
}

td > div{
    width:70%;
    height:100%;
    margin-left:15%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.weekend{
    color:red;
}
.startDate{
    background-color: #466FFF;
    border-top-left-radius:1rem;
    border-bottom-left-radius:1rem;
    color:white;
}
.endDate{
    background-color: #466FFF;
    border-top-right-radius:1rem;
    border-bottom-right-radius:1rem;
    color:white;
}
.hovered{
    background-color:aquamarine;
}
td > div.startDate:hover, td > div.endDate:hover{
    color: white;
}

.container {
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:3rem;
}
.show {
    display: block !important;
}

.blur-effect {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(bg.jpg);
    -webkit-filter: blur(5px); 
    -moz-filter: blur(5px); 
    -o-filter: blur(5px); 
    -ms-filter: blur(5px); 
    filter: blur(5px);
    z-index: -1; 
    content: "";
}

.hiddenbox {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:40rem;
    height: 20rem;
    border : 1px solid #FFFFFFFF;
    background-color: white;
    border-radius : 20px;
    box-shadow: 4px 4px 4px 4px grey;
    
}

.hiddenbox > form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 100%;
}
.groupName {
    position:relative;
    width:90%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.groupName > input{
    width:100%;
    height: 20%;
    background-color: #E1E1E3;
    border : 1px solid #E1E1E3;
    border-radius : 5px;
    text-align: center;

}
/* header {
    display: flex;
    width: 100%;
    background-color: #E5EAFE;
    height: 80px;
} */
/* 
.topBar {
    display: flex;
    width: 100%;
    background-color: #E5EAFE;
    height: 40px;
}

.topBar2 {
    margin-top: 40px;
    position: absolute;
    width: 100%;
    background-color: #DBE0F1;
    height: 5px;
}

.mainLogo {
    margin-left: 15px;
    margin-bottom: 1px;
    float: left;
    clear: both;
}

.profile {
    width: 15%;
    margin-left: 80%;
    display: flex;
    float: right;
}

.userName {
    margin-left: 7%;
    margin-top: 9.5%;
    float: right;
}  */

.icon {
    text-align: center;
    
}

h1 {
    font-size: 40px;
    text-align: center;
    color: #466FFF;
}

h2 {
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
}


/* REMOVE SECOND CALENDAR */

.daterangepicker {
    position: absolute;
    display: block;
}

.daterangepicker .drp-calendar.right {
    position: absolute !important;
    right: 0 !important;
    top: 0 !important;
}

.daterangepicker .drp-calendar.right tbody {
    display: none !important;
}

.daterangepicker .drp-calendar.right thead > tr:nth-child(2) {
    display: none !important;
}

.daterangepicker .drp-calendar.right th.month {
    display: none !important;
}

.daterangepicker .drp-calendar.right .calendar-table {
    background: transparent !important;
}

.daterangepicker .daterangepicker.ltr .ranges, .daterangepicker.ltr .drp-calendar {
    float: none !important;
}

.daterangepicker .drp-calendar.right .daterangepicker_input {
    position: absolute !important;
}

/* REMOVE SECOND CALENDAR */



/* 
.makeRoom {
    margin : 20px; 
    padding : 30px;
    width: 170px;
    height: 20px;
    background-color: #FFC7BD;
    border-radius : 60px;
    border: 0;
    box-shadow: 4px 4px 4px grey;
} */

.Room {
    text-align: center;
    font-size: 1em;
    color: #DB615C;
    margin:0;
} 

.Room2 {
    font-weight: bolder;
    text-align: center;
    font-size: 1em;
    color: #DB615C;
    margin:0;
} 

.makeRoom {
    cursor: pointer;
    text-align: center;
    border-radius : 60px;
    background-color: #FFC7BD;
    width: 26%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#sb-area{
    width: 90%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.makeRoom2 {
    cursor: pointer;
    text-align: center;
    border-radius : 60px;
    background-color: #FFC7BD;
    width: 50%;
    height:30%;
    margin-bottom: 5%;
    margin-left: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.makeRoom:hover {
    background-color: #f7c1b7;
}

.makeRoom2:hover {
    background-color: #f7c1b7;
}

footer {
    margin-top: 20px;
    width: 100%;
    height: 0px;
    bottom: 0px;
    position: absolute;
    border-top: 1px solid #c4c4c4;
    padding-top: 15px;
    color: #808080;
    font-size: 11px;
  }
  
  footer a {
    display: inline-block;
    margin: 0 20px 10px 20px;
    color: #808080; font-size: 11px;
  }
  
  footer a:visited {
    color: #808080;
  }
  
  footer p {
    margin-top: 0; margin-bottom: 0;   
  }
  
  footer p span {
    display: inline-block;
    margin-left: 20px;
  }
 