html, body{
    width:100%;
    height: 100%;
    margin:0;
    max-height: 100%;
    max-width: 100%;
}

.header{
    height: 4rem;
}
.mainLogo{
    margin-top: 0.5rem;
    margin-left : 0.5rem;
    position: relative;
    width:10%;
    height: 90%;;
}

#content-wrap{
    width:100%;
    height: 100%;
    max-height: 100%;
    overflow: hidden;

}
h1 {
    position: relative;
    text-align: center;
    font-weight: bolder;
    top: 10%;
}

.container {
    position: relative;
    top:-5%;
    left:-5%;
    text-align: center;
    width:300rem;
}

#box {
    cursor: pointer;
    margin-left: 37%;
    text-align: center;
    width: 40%;
    height: 5%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 2px gray;
}

#ball {
    width: 25rem;
    height: 25rem;
    background-color: #D7DCFD;
    position: relative;
    border-radius: 50%;
    top:-20%;
    left:82%;
}

#ball2 {
    width: 40rem;
    height: 40rem;
    background-color: #445AFF;
    position: relative;;
    border-radius: 50%;
    top:-5%;
    left:-20%;
}

#img {
    margin-top: 5px;
    width: 60%;
    height:80%;
}