html, body{
    width: 100%;
    height: 100%;
    margin: 0;
}
.total{
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow: hidden;
}
.title-wrap{
    position: relative;
    width: 100%;
    height:10%;
    margin-top:5%;
    
    background-color: #445aff;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;

}


.titleText{
    width: 70%;
    height: 100%;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    z-index: 2;    
}
.titleText > p{
    font-size: 2rem;
    margin-left:5%;
    margin-top: 0;
    margin-bottom: 0;
    z-index: 2;
}
#titlebox{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    z-index: 2;
}
#dateBox{
    background-color: #2d3caf;
    width:70%;
    height:50%;
    border-radius: 15px;
    box-shadow: inset 5px 5px 10px 5px #24318e;
    font-size: 1.25rem;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}
#table-wrap{
    position: relative;
    width: 100%;
    height: 78%;
    max-height:78%;
    overflow: auto;
}
table {
    position: absolute;
    border-collapse: collapse;
    border-top: 1px solid #828282;
    border-left: 1px solid #828282;
    width: 100%;
    height: 50%;
    max-height: 50%;
    overflow: hidden;
}

table td {
    position:relative;
    z-index: 3;
    width:3.7%;
    height:auto;
    text-align:center;
    vertical-align:middle;
    background-color: #e5e5e5;
    border-bottom:1px solid ;
    border-right:1px solid ;
}

table th{
    width:11.2%;
    height:100%;
    text-align:center;
    vertical-align:middle;
    background-color: #e5e5e5;
    border-bottom:1px solid #828282;
    border-right:1px solid #828282;
    color:#828282;
    font-size: 1rem;
}
tbody{
    width:100%;
    height: 50%;
    max-height: 50%;
    overflow:hidden;
}
tr{
    z-index: 3; 
    width: 99.9%;
    height:3rem;
    box-sizing: border-box;
}
#tableDays {
    width:50px;
    height:50px;
    text-align:center;
    vertical-align:middle;
    border-bottom:1px solid #828282;
    border-right:1px solid #828282;
    color:#828282;
    background-color: #FFFFFF;
}

table td.highlighted {
    background-color:	#e8f2e6;
}

button{
    background:#fcf5f2;
    color:#db615c;
    border:none;
    position:relative;
    width:18%;
    height:35%;
    margin-left: 2%;
    font-size:1.2rem;
    cursor:pointer;
    outline:none;
    border-radius: 30px;
    box-shadow: 5px 5px 5px #c0c0c0;
  }
  button:hover{
    background:#db615c;
    color:#fcf5f2;
  }
  button:before,button:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #fcf5f2;
    transition:400ms ease all;
  }
  button:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  button:hover:before,button:hover:after{
    width:100%;
    transition:800ms ease all;
  }

.btns{
    text-align: right;
    width: 92%;
    height: 15%;
    margin-right: 8%;
    margin-bottom: 5%;
} 
    

.blur {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(bg.jpg);
    -webkit-filter: blur(5px); 
    -moz-filter: blur(5px); 
    -o-filter: blur(5px); 
    -ms-filter: blur(5px); 
    filter: blur(5px);
    z-index: -1; 
    content: "";
}


.result-time{
    position: relative;
    top: 5%;
    left: 200px;
    font-size: 35px;
    text-align: left;
    color: black;
}

#result{
    color: #445aff;
    text-decoration:underline;
    font-style: italic;
}

.des{
    visibility: hidden;
    z-index: 4;
    top: -85%;
    background-color: #0013a6;
    display: inline-block;
    position: absolute;
    white-space: nowrap;
    color:white;
    height: 2rem;
    line-height: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.5rem;
}


#btn-area{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 30%;
    margin-top: 5%;
}
#btn-area > button{
    width:32%;
    margin-left:5%;
}
.modal {
    position: relative;
    width: 100%;
    height: 75%;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 2rem;
    padding-top: 2rem;
    border: 1px solid #466FFF;
    background-color: #466FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.modal-area {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    border: 1px solid #FFFFFFFF;
    background-color: #FFFFFFFF;
    border-radius: 40px;
    padding: 2%;
    width: 30rem;
    height: 350px;
    box-shadow: 3px 3px 3px grey;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.modal-text {
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
    padding-left: 5rem;
    padding-right: 5rem;
    margin-top: 0;
    margin-bottom: 1rem;
}
.final-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15%;
    border-radius: 60px;
    border: 0;
    background-color: #FFC7BD;
    text-align: center;
    box-shadow: 5px 5px 5px #f4edea;
    color: #DB615C;
    cursor: pointer;
}
.modal-input {
    width: 26rem;
    height: 2rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

#transfer-member-wrap {
    position: relative;
    height: 80%;
    width: 90%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal-radio {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 3rem;
}

.transfer-member-text {
    font-size: 1.5rem;
    margin: 0;
    color: white;
}

.transfer-member-text {
    font-size: 1.5rem;
    margin: 0;
    color: white;
}

.transMemberList {
    display: flex;
    margin-bottom: 1rem;
}