{% extends 'base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
<link rel="stylesheet" href="{% static 'css/datepicker.css' %}">
{% endblock %}

{% block content %}
<div class = "total">
    <div class="icon">
        <img src="{% static 'img/Meetus.png' %}">
    </div>
    <h2>시작일과 종료일을 골라주세요</h2>
    <div id=calander-wrap>
        <div id="date-area">
            <div class = btn-area onclick = "setMonth('prev')">
                <i id = "btn-left" class="fa-solid fa-chevron-left btn"></i>
            </div>
            <h2 id = "month-year">August 2022</h2>
            <div class = btn-area onclick = "setMonth('next')">
                <i id = "btn-right" class="fa-solid fa-chevron-right btn"></i>
            </div>
            
        </div>
        <table>
            <tr>
                <th class = "weekend">Sun</th>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>Sat</th>
            </tr>
        </table>
    </div>
    
    
    <div class="container">
        <div class="makeRoom">
            <p class="Room">방만들기</p>
        </div>
    </div>
</div>

<div class="hiddenbox">
    <form method="post" action="{% url 'groupcreate' %}">
        {% csrf_token %}
        <div class="groupName"><input id="input1" name="groupname" placeholder="그룹 이름 입력"></div>
        <input id="startdate" name="startdate" style=" display:none; ">
        <input id="enddate" name="enddate" style=" display:none; ">
        <div id = "sb-area">
            <div class="makeRoom2">
                <p class="Room2">방만들기</p>
            </div>
        </div>
        
        <input type="submit" id="postSubmit" style="display: none;">
    </form>
</div>
{% endblock %}

{% block js %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/datepicker.js' %}"></script>
{% endblock %}