{% load static %}
<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title></title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/whenmeet/index.css' %}" />

</head>

<body>
  <div class="total">
    <div class="title-wrap">
      <div class="titleText">
        <p>{{groupname}} 스케줄 스페이스</p>
      </div>
      <div id = "titlebox">
        <div id="dateBox">
          {{startdate}} ~ {{enddate}}
        </div>
      </div>      
    </div>
    <div id = "table-wrap">
        
    </div>

    

    <script type="text/javascript">
      var user_count = "{{user_count}}";
      var date = "{{date}}"; 
      var wwmgroupurl = "{{wwwmgroupurl}}";
      var day_count = "{{ date| length}}";
      var day = "{{ date| safe}}";
      var timetable = "{{ timetable| safe}}"; 
      var result = "{{ result_list| safe}}";
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src = "{% static 'js/whenmeet/index.js' %}"></script>

</body>

</html>